/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  .horario {
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    color: #c22;
    margin-bottom: 20px;
  }
  
  
  
  thead th {
    background-color: #eaeaea;
    color: #444;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }
  
  tbody td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
  }
  
  td {
    font-size: 14px;
    color: #333;
  }
  
  tr:nth-child(even) {
    background-color: #f7f7f7;
  }
  
  tr:hover {
    background-color: #f0f0f0;
  }
  
  thead tr:first-child th {
    background-color: #d9d9d9;
    color: #222;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  thead th[rowspan] {
    background-color: #ccc;
    font-size: 14px;
  }
  thead tr th.dos{
    background-color: lightblue;
  }
  thead tr th.uno{
    background-color: lightcyan;
  }
